@import 'style/custom.scss';

input {
    width: calc( 100% - 30px);
    height: 40px;
    margin: 15px;
    font-size: 14px;
    line-height: 40px;
    border: 1px solid $gray3;
    border-radius: 5px;
    text-indent: 1em;
    &:focus{
        border: none;
        box-shadow: 0 0 1px 1px $highlight;
    }
}

input[type='submit'] {
    background-color: #3F87FF;
    color: #fff;
    text-indent: 0;
}
