.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.flex {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
